<a href="https://colab.research.google.com/github/TegarPermanaPutra/Algoritma-Pemrograman/blob/main/Variabel_dan_Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# VARIABEL PYTHON

Int = digunakan untuk mendeklarasikan angka (1-9).

String = digunakan untuk mendeklarasikan sebuah (a-z) dan tanda baca, string juga memiliki tanda petik (') pada value/nilainya.

Float = digunakan untuk mendeklarasikan decimal (1,5 1,7 4,0 3,14).

In [ ]:
#contohpertama (int)

a = 7
b = 5
c = (a+b)
print = (c)

Pada contoh pertama dijelaskan pejumlahan dalam bentuk Intejer (int), yaitu pendeklarasian dalam bentuk angka (1-9).

In [ ]:
#contohkedua (str)

a = 'Heat'
b = 'Waves'
c = (a+b)
print = (c)


Pada contoh kedua dijelaskan penjumlahan dalam bentuk String (str), yaitu pendeklarasian bentuk huruf (a-z) dan tanda baca. penggunaan string ditandai dengan penggunaan tanda kutip (').

In [ ]:
#contohketiga (float)

a = 1.2
b = 1.3
c = (a+b)
print = (c)

Pada contoh ketiga dijelaskan penjumlahan dalam bentuk float, yaitu pendeklarasian decimal. Penggunaan float di tandai dengan adanya bilangan desimal.

#OPERATOR ARITMATIKA

1. Penjumlahan = +
2. Pengurangan = -
3. Perkalian = *
4. Pembagian = /
5. Perpangkatan (eksponen) = **
6. Persen (modulus) = %

In [ ]:
#Contoh Penjumlahan (+)

a = 10
b = 2
c = (a + b)
print = (c)


#Contoh Pengurangan (-)

a = 10
b = 2
c = (a - b)
print = (c)


#Contoh Perkalian (*)

a = 10
b = 2
c = (a * b)
print = (c)

#Contoh Pembagian (/)

a = 10
b = 2
c = (a / b)
print = (c)

#Contoh Perpangkatan/eksponen (**)

a = 10
b = 2
c = (a ** b)
print = (c)


#Contoh Persen/modulus (%)

a = 10
b = 2
c = (a % b)
print = (c)

#OPERATOR PERBANDINGAN

1. Lebih besar : >  (a>70 : 71-100)
2. Lebih kecil : <  (a<70 : 69-0)
3. Lebih besar sama dengan : >=  (a>=70 : 70-100)
4. Lebih kecil sama dengan : <=  (a<=70 : 70-0)
5. Tidak sama dengan : !=  (jelek!=bagus: true&false : ingkaran)
6. Sama dengan sama : == (bagus==bagus: true)

In [ ]:
#Contoh lebih besar (>)

#benar:
x = 80
y = 75
z = (x > y)
print = (z)


#salah:
x = 70
y = 75
z = (x > y)
print = (z)

- Difungsikan untuk mencari nilai yang lebih besar

In [ ]:
#Contoh lebih kecil (<)

#benar:
x = 60
y = 75
z = (x < y)
print = (z)


#salah:
x = 80
y = 75
z = (x < y)
print = (z)

- Di fungsikan untuk mencari nilai yang lebih kecil

In [ ]:
#Contoh lebih besar sama dengan (>=)

#benar:
x = 75
y = 70
z = (x >= y)
print = (z)


#salah:
x = 70
y = 75
z = (x >= y)
print = (z)

- Di fungsikan untuk mencari nilai yang lebih besar atau sama dengan nilai sebelah kanan.

In [ ]:
#Contoh lebih kecil sama dengan (<=)

#benar:
x = 70
y = 75
z = (x <= y)
print = (z)


#salah:
x = 75
y = 70
z = (x <= y)
print = (z)

- Di fungsikan untuk mencari nilai yang lebih kecil atau sama dengan nilai sebelah kanan.

In [ ]:
#Contoh tidak sama dengan (!=)

#benar:
x = "jelek"
y = "bagus"
z = (x != y)
print = (z)


#salah:
x = "bagus"
y = "bagus"
z = (x != y)
print = (z)

- Di fungsikan untuk menyatakan bahwasanya nilai antara sebelah kanan dan kiri berbeda/tidak sama.

In [ ]:
#Contoh sama dengan sama (==)

#benar:
x = "bagus"
y = "bagus"
z = (x == y)
print = (z)


#salah:
x = "jelek"
y = "bagus"
z = (x == y)
print = (z)

- Di fungsikan untuk menyatakan bahwasanya nilai antara sebelah kanan dan kiri sama.