<a href="https://colab.research.google.com/github/TegarPermanaPutra/Algoritma-Pemrograman/blob/main/Variable_dan_Tipe_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# VARIABLE PYTHON

Int = digunakan untuk mendeklarasikan angka (1-9).

String = digunakan untuk mendeklarasikan sebuah huruf (a-z) dan tanda baca, string juga memiliki tanda petik (') pada value/nilainya.

Float = digunakan untuk mendeklarasikan decimal (1,5 1,7 4,0 3,14).

In [ ]:

#Contoh pertama (int)

a = 7
b = 5
c = (a+b)
print(c)

12

- Pada contoh pertama dijelaskan pejumlahan dalam bentuk Intejer (int), yaitu pendeklarasian dalam bentuk angka (1-9).

In [ ]:
#Contoh kedua (str)

a = "law"
b = "liet"
c = (a+b)
print(c)

lawliet

- Pada contoh kedua dijelaskan penjumlahan dalam bentuk String (str), yaitu pendeklarasian bentuk huruf (a-z) dan tanda baca. penggunaan string ditandai dengan penggunaan tanda kutip (').

In [ ]:
#Contoh ketiga (float)

a = 1.2
b = 1.3
c = (a+b)
print(c)

2.5

- Pada contoh ketiga dijelaskan penjumlahan dalam bentuk float, yaitu pendeklarasian decimal. Penggunaan float di tandai dengan adanya bilangan desimal.

OPERATOR ARITMATIKA

1. Penjumlahan = +
2. Pengurangan = -
3. Perkalian = *
4. Pembagian = /
5. Perpangkatan (eksponen) = **
6. Persen (modulus) = %

In [22]:
#Contoh penjumlahan (+)
x = 10
y = 5
z = (x+y)
print(z)


#Contoh pengurangan (-)
x = 10
y = 5
z = (x-y)
print(z)


#Contoh perkalian (*)
x = 10
y = 5
z = (x*y)
print(z)

#Contoh pembagian (/)
x = 10
y = 5
z = (x/y)
print(z)

#Contoh perpangkatan (**)
x = 10
y = 5
z = (x**y)
print(z)

#Contoh persenan (%)
x = 10
y = 5
z = (x%y)
print(z)

15
5
50
2.0
100000
0

#OPERATOR PERBANDINGAN

1. Lebih besar : >  (a>70 : 71-100)
2. Lebih kecil : <  (a<70 : 69-0)
3. Lebih besar sama dengan : >=  (a>=70 : 70-100)
4. Lebih kecil sama dengan : <=  (a<=70 : 70-0)
5. Tidak sama dengan : !=  (jelek!=bagus: true&false : ingkaran)
6. Sama dengan sama : == (bagus==bagus: true)

In [11]:
#Contoh lebih besar (>)

#benar:
x = 80
y = 75
z = (x>y)
print(z)


#salah:
x = 70
y = 75
z = (x>y)
print(z)

True
False

- Difungsikan untuk mencari nilai yang lebih besar.

In [23]:
#Contoh lebih kecil (<)

#benar:
x = 70
y = 75
z = (x<y)
print(z)


#salah:
x = 80
y = 75
z = (x<y)
print(z)

True
False

- Di fungsikan untuk mencari nilai yang lebih kecil.

In [17]:
#Contoh lebih besar sama dengan (>=)

#benar:
x = 75
y = 75
z = (x>=y)
print(z)


#salah:
x = 70
y = 75
z = (x>=y)
print(z)

True
False

- Di fungsikan untuk mencari nilai yang lebih besar atau sama, dengan nilai sebelah kiri.

In [19]:
#Contoh lebih kecil sama dengan (<=)

#benar:
x = 75
y = 75
z = (x<=y)
print(z)


#salah:
x = 80
y = 75
z = (x<=y)
print(z)

True
False

- Di fungsikan untuk mencari nilai yang lebih kecil atau sama, dengan nilai sebelah kiri.

In [20]:
#Contoh tidak sama dengan (!=)

#benar:
x = "jelek"
y = "bagus"
z = (x!=y)
print(z)


#salah:
x = "bagus"
y = "bagus"
z = (x!=y)
print(z)

True
False

- Di fungsikan untuk menyatakan bahwasanya nilai antara sebelah kanan dan kiri berbeda/tidak sama.

In [21]:
#Contoh sama dengan sama (==)

#benar:
x = "bagus"
y = "bagus"
z = (x==y)
print(z)


#salah:
x = "jelek"
y = "bagus"
z = (x==y)
print(z)

True
False

- Di fungsikan untuk menyatakan bahwasanya nilai antara sebelah kanan dan kiri sama.